<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search From Type</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'location' %}">Nearby</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="{% url 'search' %}">Search</a>
      </div>
    </nav>

    <div class="container" style="margin-top: 5%;">
        <p>Your ip is: {{ ip }}</p>
        <p>Automatic get your coordinates.</p>
        <p id="demo">Wait for location...</p>
        <form id="location_form" name="location_form" action="{% url 'location' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="lat" name="lat" value="">
            <input type="hidden" id="long" name="long" value="">
            <input type="submit" id="subBut" style="display: none;">
        </form>
        <p id="results"></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        var latlng = document.getElementById("demo");

        var positionOptions = {
            timeout: Infinity,
            maximumAge: 0,
            enableHighAccuracy: true
        };

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition, showError, positionOptions);
            } else {
                latlng.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            latlng.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
            document.getElementById('lat').value = position.coords.latitude;
            document.getElementById('long').value = position.coords.longitude;
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    latlng.innerHTML = "User denied the request for Geolocation.";
                    break;
                case error.POSITION_UNAVAILABLE:
                    latlng.innerHTML = "Location information is unavailable.";
                    break;
                case error.TIMEOUT:
                    latlng.innerHTML = "The request to get user location timed out.";
                    break;
                default:
                    latlng.innerHTML = "An unknown error occurred.";
            }
        }

        function autoSubmit() {
            document.getElementById("subBut").click()
        }

        getLocation();
        setInterval(autoSubmit, 10000);
    </script>
    <script>
       var jsonObject = JSON.parse('{{ json | safe }}');
    </script>
</body>
</html>