<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search From Place Type</title>
</head>
<body>
    <form action="{% url 'location' %}" id="type_form" name="type_form" method="post">
        {% csrf_token %}
        <label>Tag Location: <input type="text" name="place_type" id=place_type></label>
        <input type="submit" value="Search">
    </form>
    <p id="results"></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $('#type_form').submit(function(event) {
            console.log($(this).serializeArray());
            var CSRFtoken = $("input[name=csrfmiddlewaretoken]").val();
            var place_type = document.getElementById("place_type").value;
            $.post($(this).attr('action'), {
                place_type: place_type,
                csrfmiddlewaretoken: CSRFtoken
            });
         });
    </script>
</body>
</html>