astroid==2.2.5
autopep8==1.4.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
decorator==4.4.1
Django==2.2.27
django-globals==0.3.2
dnspython==1.16.0
eureka-client==0.6.2
future==0.18.2
geocoder==1.38.1
googlemaps==3.1.3
idna==2.8
input==0.0.0
isort==4.3.17
lazy-object-proxy==1.3.1
mccabe==0.6.1
mysql-connector-python==8.0.15
mysqlclient==1.4.2.post1
pip==19.3.1
place==0.5.5
places==0.3.4
py-eureka-client==0.7.2
pycodestyle==2.5.0
pylint==2.3.1
pylint-django==2.0.12
pylint-plugin-utils==0.6
PyMySQL==0.9.3
pytz==2019.1
ratelim==0.1.6
requests==2.22.0
selenium==3.141.0
setuptools==40.8.0
six==1.12.0
source==1.2.0
sqlparse==0.3.0
typed-ast==1.3.4
urllib3==1.25.6
views==0.3
virtualenv==16.7.7
wheel==0.33.6
wrapt==1.11.1
django-background-tasks==1.2.0
django-cors-headers==3.2.0